---
import Search from '../components/search.astro';
---

<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Політанчани</title>
  </head>
  <body>
    <h1>Політанчани</h1>
    <Search />
  </body>
</html>
