<header>
    <style>
      
      header {
        background-image: url('/DSC04737.JPG'); /* Add your image path */
        background-size: cover;
        background-position: center;
        color: white;
        padding: 2rem;
        text-align: center;
      }
      .site-title {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
      }
      nav a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin-left: 1rem;
      }
      nav a:hover {
        text-decoration: underline;
      }
      @media (max-width: 768px) {
        header {
          flex-direction: column;
          align-items: flex-start;
        }
        .site-title {
          margin-bottom: 1rem;
        }
      }
      </style>
    <div class="site-title">Політанчани</div>
    <nav>
      <a href='/'>Перейти на головну</a>
    </nav>
  </header>