---
import { Tabs } from 'astro-tabs';

import environment from '../environment';
import { getCollection } from '../services/astro-content';

import Context from './context.astro';

const settlements = await getCollection('settlements');
const settlementsRegistry = Object.fromEntries(
  settlements.map(({ data, id }) => [id, data]),
);
---

<div>
  <Context
    identity="search"
    TYPESENSE_HOST={environment.TYPESENSE_HOST}
    TYPESENSE_SEARCH_KEY={environment.TYPESENSE_SEARCH_KEY}
  />
  <Context identity="settlements" settlements={settlementsRegistry} />
  <form id="search-box"></form>
  <div class="refinement-list" id="refinement-list"></div>
  <div class="refinement-list" id="refinement-list-year"></div>
  <div class="refinement-list" id="refinement-list-settlement"></div>
  <Tabs>
    <Fragment slot="tab-1"
      >Актові дані <span id="acts_ru_count"></span></Fragment
    >
    <Fragment slot="tab-2"
      >Неструктуровані дані <span id="unstructured_uk_count"></span></Fragment
    ><Fragment slot="panel-1"> <output id="output-box"></output></Fragment>
    <Fragment slot="panel-2"
      ><output id="output-box-unstructured_uk"></output></Fragment
    >
  </Tabs>
  <script src="./search.ts"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.5.0/themes/satellite-min.css"
    integrity="sha256-woeV7a4SRDsjDc395qjBJ4+ZhDdFn8AqswN1rlTO64E="
    crossorigin="anonymous"
  />

  <style is:global>
    #search-box {
      margin-bottom: 1rem;
    }
    .ais-SearchBox-form {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
    .ais-SearchBox-input {
      width: 100%;
      max-width: 600px;
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-family: 'Times New Roman', serif;
    }
    .ais-SearchBox-submit {
      background-color: #343a40; /* Dark grey background */
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Times New Roman', serif;
    }
    .ais-SearchBox-submit:hover {
      background-color: #555; /* Slightly lighter grey on hover */
    }
    .ais-PoweredBy {
      justify-content: center;
    }
    .refinement-list {
      margin-bottom: 1rem;
    }
    .ais-RefinementList-item {
      margin-bottom: 0.5rem;
    }
    .ais-RefinementList-label {
      display: flex;
      align-items: center;
    }
    .ais-RefinementList-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1rem;
    }
    .ais-RefinementList-checkbox {
      margin-right: 0.5rem;
    }
    #output-box {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .ais-Hits-item {
      background-color: white;
      padding: 0 !important;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      flex: 1 1 calc(100% - 1rem);
    }
    .ais-Hits-item a {
      flex-grow: 1;
      padding: 1.5rem !important;
    }
    .ais-NumericMenu-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    @media (min-width: 600px) {
      .ais-Hits-item {
        flex: 1 1 calc(50% - 1rem);
      }
    }
    @media (min-width: 900px) {
      .ais-Hits-item {
        flex: 1 1 calc(33.333% - 1rem);
      }
    }
    .ais-Hits-item a {
      text-decoration: none;
      color: #333;
      font-family: 'Times New Roman', serif;
    }
    .ais-Hits-item a:hover {
      text-decoration: underline;
    }
    .ais-Hits-item h2 {
      margin: 0 0 0.5rem 0;
      font-size: 1.2rem;
      color: #343a40; /* Dark grey text */
    }
    .ais-Hits-item p {
      margin: 0;
      color: #555;
    }

    .memorial-service {
      background-color: #ffe6e6; /* Light red */
    }
    .confirmation {
      background-color: #cce5ff; /* Light blue */
    }
    .birth {
      background-color: #ccffcc; /* Light green */
    }
    .death {
      background-color: #f2f2f2; /* Light grey */
    }
    .baptism {
      background-color: #fff2cc; /* Light yellow */
    }
    .marriage {
      background-color: #e6ccff; /* Light purple */
    }
    .conversion {
      background-color: #96c6ff; /* Soft blue */
    }

    .tab {
      color: white;
      padding: 1rem;
      background-color: black;
      border: 1px solid lightgray;

      &:hover {
        color: black;
        background-color: cyan;
      }
    }

    .tab-selector:checked ~ .tab {
      color: black;
      background-color: white;
    }

    .panel {
      border: 1px solid darkgrey;
    }
    .tab-wrapper {
      flex-grow: 1;
    }
    
    .tab span {
      display: inline-block;
    }
  </style>
</div>
